:root{
  --dark-color: #2A2A2C;
  --light-color:#898890;
  --cntxt-padding: 5% 5% 5% 5%;
  --cntxt-margin: 0 10% 0 10%;
}

body{
  background-color:#B7B7B7;
}

a{text-decoration:none;}

ul#nav{ width:100%; height:60px; background:#5C5C5C;margin:0 auto;position:fixed;top:0;left:0;z-index:80} 
ul#nav li{display:inline; height:60px} 
ul#nav li a{display:inline-block; padding:0 20px; height:60px; line-height:60px;
 color:#C7C7C7; font-family:font-family: Garamond, serif; font-size:1em} 
 ul#nav li a:hover{background:#979797}

 a:hover img{filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;} 

 a{text-decoration:none;}

 #profile {  
  margin: 5% 5% 5% 5%;
  padding: 0 0 0 0;
  float: right;   
  border-style:solid;
  border-color:grey;
  border-width:10px;
  width:250px; height:250px;
  border-radius: 80%; 
}    

#interests
{
  padding: 0 20% 0 20%;

  font-size: 220%;
}
.context{
  font-size: 1.3em;
  font-family: 'Comic Sans MS', cursive;
}

.dark-canvas
{
  padding: var(--cntxt-padding);
  margin: var(--cntxt-margin);
  font-size: var(--normal-size);
  color: #DADADA;
  font:var(--type-font);
  background-color: var(--dark-color);
  border-style:solid;
  border-color:var(--light-color);
  overflow: hidden;
}

.light-canvas
{
  padding: var(--cntxt-padding);
  margin: var(--cntxt-margin);
  font-size: var(--normal-size);
  color:#232228;
  font:var(--type-font);
  background-color: var(--light-color);
  overflow: hidden;
}

.container {
	width: 960px;
	margin: 0 auto; 
	overflow: hidden;
}

.content{
	widows: 40%;
	margin:0;
	position:relative;
	float:left;
	font-size:12px;
	line-height:1em;
	padding:30px 0 30px;
}
.col { width:280px; }

#skill { 
	list-style:none; 
	padding-top:30px;
}

#skill li { 
	margin-bottom:70px; 
	background:#000; 
	height:5px; 
	border-radius:3px; 
	border-left:1px solid #111; 
	border-top:1px solid #111; 
	border-right:1px solid #333; 
	border-bottom:1px solid #333;  
}

#skill li em { 
	position:relative; 
	top:-30px;
}

.expand { 
	height:1px; 
	margin:2px 0; 
	background:#2187e7; 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}
.c       { width:70%;  -moz-animation:c 2s ease-out;       -webkit-animation:c 2s ease-out;       }
.cpp       { width:80%;  -moz-animation:cpp 2s ease-out;       -webkit-animation:cpp 2s ease-out;       }

.csharp       { width:10%;  -moz-animation:csharp 2s ease-out;       -webkit-animation:csharp 2s ease-out;       }
.java        { width:10%;  -moz-animation:javajava 2s ease-out;        -webkit-animation:java 2s ease-out;        }
.python      { width:15%;  -moz-animation:python 2s ease-out;      -webkit-animation:python 2s ease-out;      }


.html5       { width:70%;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:60%;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.jquery      { width:50%;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.linux   { width:50%;  -moz-animation:linux 2s ease-out;   -webkit-animation:linux 2s ease-out;   }
.git { width:80%; -moz-animation:git 2s ease-out; -webkit-animation:git 2s ease-out; }

@-moz-keyframes c       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes cpp        { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes csharp      { 0%  { width:0px;} 100%{ width:10%;}  }
@-moz-keyframes java   { 0%  { width:0px;} 100%{ width:10%;}  }
@-moz-keyframes python { 0%  { width:0px;} 100%{ width:40%;} }



@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:60%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes linux   { 0%  { width:0px;} 100%{ width:10%;}  }
@-moz-keyframes git { 0%  { width:0px;} 100%{ width:100%;} }


.div-left{
  margin: 0 20% 0 0;
  float:left;
  width:30%;
  border:1px;
} 
.div-right{ 
  margin:  0 20% 0 0;
  float: right;
  width:30%;
  border:1px;
} 

.disp-left{
  padding:10% 10% 10% 5%;
  float:left;
  width:30%;
} 
.disp-right{ 
  padding:10% 10% 10% 10%;
  float: left;
  width:30%;
} 

.dispimg{
  border:0;
  padding:10% 10% 10% 10%;
  height:440px;
  width:440px;
}
