.bars {
    column-count: 2;
}

.bars li {
    padding: 20px;
    list-style: none;
}

.bars span {
    display: block;
    float: left;
    width: 20%;
}

.bars span.bar {
    display: block;
    float: left;
    position: relative;
    top: 0.4em;
    width: 70%;
    background-color: black;
    height: 0.2em;
    border: none;
}

.bars span.bar span {
    display: block;
    float: left;
    height: 100%;
    margin: 0;
    background-color: #2187e7;
    box-shadow: 0 0 10px 1px rgba(0, 198, 255, 0.4);
}
